.form-check {
  --border: #d1d5d8;
  --cursor: #89909e;
  --checked: #2a3290 !important;
  --checked-cursor: #fff;
  position: relative;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.form-check input {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.form-check label {
  display: grid;
  grid-template-columns: 2em 1fr;
  grid-template-areas: 'checkbox label';
  gap: 0.7em;
}

.form-check label::before {
  width: 100%;
  height: 1em;
  border-radius: 1em;
  border: solid 1px var(--border);
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.form-check label::before,
.form-check label::after {
  content: '';
  grid-area: checkbox;
  display: block;
  margin-top: 0.1em;
}

.form-check label::after {
  position: relative;
  top: 2px;
  left: 2px;
  width: calc(1em - 2px);
  height: calc(1em - 2px);
  border-radius: 50%;
  background-color: var(--cursor);
  transition: background-color 0.3s, transform 0.3s;
}

.form-check input:checked + label::before {
  background-color: var(--checked) !important;
  border-color: var(--checked) !important;
}

.form-check input:checked + label::after {
  background-color: var(--checked-cursor) !important;
  transform: translateX(1em);
}

.form-check input:focus + label::before {
  box-shadow: 0 0 0 0.25em #c4dbf9;
  border-color: var(--checked) !important;
}
