// .home {
//   width: 100%;
//   height: calc(100vh - 66px);
//   background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
//   background-position: center top;
//   background-size: cover;
// }
#page {
  min-height: 100vh; /* 1 */
  display: flex; /* 2 */
  flex-direction: column; /* 3 */
}

.content {
  flex-grow: 1; /* 4 */
  padding-top: 66px;
}

h1 {
  text-align: center;
  margin: 3rem 0;
  font-size: 3rem;
  color: getColor('primary');
}
.content {
  padding-top: 66px;
}

h1 {
  text-align: center;
  margin: 3rem 0;
  font-size: 3rem;
  color: getColor('primary');
}
