@import './backToTop';

.container {
  max-width: 1280px;
  margin: 0 auto auto auto;
}
#page {
  min-height: 100vh; /* 1 */
  display: flex; /* 2 */
  flex-direction: column; /* 3 */
}

.content {
  flex-grow: 1; /* 4 */
  padding-top: 66px;
}

h1 {
  text-align: center;
  margin: 3rem 0;
  font-size: 3rem;
  color: getColor('primary');
}
